In [2]:
import pandas as pd
import numpy as np
import seaborn as sb
import matplotlib.pyplot as plt

In [15]:
main_table = pd.read_csv('./data/olist_public_dataset_v2.csv')

customer_id_data = pd.read_csv('./data/olist_public_dataset_v2_customers.csv')

payments_data = pd.read_csv('./data/olist_public_dataset_v2_payments.csv')

geolocalisation_data = pd.read_csv('./data/geolocation_olist_public_dataset.csv')

labeled_table = pd.read_csv('./data/olist_classified_public_dataset.csv')

In [16]:
main_table.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100000 entries, 0 to 99999
Data columns (total 25 columns):
order_id                         100000 non-null object
order_status                     100000 non-null object
order_products_value             100000 non-null float64
order_freight_value              100000 non-null float64
order_items_qty                  100000 non-null int64
order_sellers_qty                100000 non-null int64
order_purchase_timestamp         100000 non-null object
order_aproved_at                 99982 non-null object
order_estimated_delivery_date    100000 non-null object
order_delivered_customer_date    97595 non-null object
customer_id                      100000 non-null object
customer_city                    100000 non-null object
customer_state                   100000 non-null object
customer_zip_code_prefix         100000 non-null int64
product_category_name            100000 non-null object
product_name_lenght              100000 non-null int64
product_description_lenght       100000 non-null int64
product_photos_qty               100000 non-null int64
product_id                       100000 non-null object
review_id                        100000 non-null object
review_score                     100000 non-null int64
review_comment_title             8262 non-null object
review_comment_message           42489 non-null object
review_creation_date             100000 non-null object
review_answer_timestamp          100000 non-null object
dtypes: float64(2), int64(7), object(16)
memory usage: 19.1+ MB

In [17]:
labeled_table.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3584 entries, 0 to 3583
Data columns (total 34 columns):
Unnamed: 0                       3584 non-null int64
id                               3584 non-null int64
order_status                     3584 non-null object
order_products_value             3584 non-null float64
order_freight_value              3584 non-null float64
order_items_qty                  3584 non-null int64
order_sellers_qty                3584 non-null int64
order_purchase_timestamp         3584 non-null object
order_aproved_at                 3584 non-null object
order_estimated_delivery_date    3584 non-null object
order_delivered_customer_date    3467 non-null object
customer_city                    3584 non-null object
customer_state                   3584 non-null object
customer_zip_code_prefix         3584 non-null int64
product_category_name            3584 non-null object
product_name_lenght              3584 non-null int64
product_description_lenght       3584 non-null int64
product_photos_qty               3584 non-null int64
review_score                     3584 non-null int64
review_comment_title             0 non-null float64
review_comment_message           3584 non-null object
review_creation_date             3584 non-null object
review_answer_timestamp          3584 non-null object
votes_before_estimate            3584 non-null int64
votes_delayed                    3584 non-null int64
votes_low_quality                3584 non-null int64
votes_return                     3584 non-null int64
votes_not_as_anounced            3584 non-null int64
votes_partial_delivery           3584 non-null int64
votes_other_delivery             3584 non-null int64
votes_other_order                3584 non-null int64
votes_satisfied                  3584 non-null int64
most_voted_subclass              3413 non-null object
most_voted_class                 3413 non-null object
dtypes: float64(3), int64(18), object(13)
memory usage: 952.1+ KB

In [27]:
labeled_table.loc[:, 'votes_satisfied'].isnull().values.any()

False

In [29]:
main_table.head()

,order_id,order_status,order_products_value,order_freight_value,order_items_qty,order_sellers_qty,order_purchase_timestamp,order_aproved_at,order_estimated_delivery_date,order_delivered_customer_date,...,product_name_lenght,product_description_lenght,product_photos_qty,product_id,review_id,review_score,review_comment_title,review_comment_message,review_creation_date,review_answer_timestamp
0,b95df3cef5297e79ef709ba256518f6f,delivered,349.90,13.84,1,1,2017-01-31 17:19:01.000000,2017-02-01 02:41:21.549551,2017-03-15 00:00:00.000000,2017-02-06 11:04:24.154259,...,51,625,1,6cdd53843498f92890544667809f1595,b95df3cef5297e79ef709ba256518f6f,5,NaN,NaN,2017-02-07 00:00:00.000000,2017-02-09 02:37:37+00:00
1,59af46052a799e80e2f0c665c587731d,delivered,15.00,15.10,1,1,2017-09-09 19:52:54.000000,2017-09-10 20:03:31.535281,2017-10-02 00:00:00.000000,2017-09-13 20:17:41.296915,...,44,1428,2,ae5cad88462eb7b7b61401e31c45618e,59af46052a799e80e2f0c665c587731d,5,NaN,entrega em 2 dias produto c boa qualidade otim...,2017-09-14 00:00:00.000000,2017-09-15 03:43:47+00:00
2,a3e6136894621db402a772c6bc72a12a,delivered,238.90,18.00,1,1,2017-01-30 17:00:09.000000,2017-01-30 17:31:25.438253,2017-03-07 00:00:00.000000,2017-02-06 15:43:04.758566,...,55,637,1,0c9ff9d8ed9b9bdd825487b3a66e05f5,a3e6136894621db402a772c6bc72a12a,5,NaN,produto veio antes do prazo informado muito ob...,2017-02-07 00:00:00.000000,2017-02-10 14:18:53+00:00
3,b675ea5a618922f6e679e30531b8957b,delivered,29.99,18.23,1,1,2018-03-11 18:18:36.000000,2018-03-11 18:30:37.931962,2018-04-03 00:00:00.000000,2018-04-03 20:36:43.778451,...,55,617,1,ad0a798e7941f3a5a2fb8139cb62ad78,b675ea5a618922f6e679e30531b8957b,4,NaN,NaN,2018-04-04 00:00:00.000000,2018-04-05 02:52:31+00:00
4,195a8be6794c487fe6cfbb97b7c61902,delivered,295.99,47.65,1,1,2017-04-20 08:01:08.000000,2017-04-25 08:05:40.405383,2017-05-24 00:00:00.000000,2017-05-04 18:47:45.721758,...,49,558,2,eaf2046d4c87809247a30050ea13df03,195a8be6794c487fe6cfbb97b7c61902,5,NaN,NaN,2017-05-05 00:00:00.000000,2017-05-08 15:20:18+00:00