In [12]:
import pandas as pd
import numpy as np
import seaborn as sb
import matplotlib.pyplot as plt

In [11]:
main_table = pd.read_csv('./data/olist_public_dataset_v2.csv')
holdout_data = main_table.sample(frac=0.2, random_state=15)
main_table.drop(labels=holdout_data.index, axis=0, inplace=True)

In [13]:
geolocalisation_data = pd.read_csv('./data/geolocation_olist_public_dataset.csv')
geolocalisation_data = geolocalisation_data.loc[:, ['zip_code_prefix', 'lat', 'lng']].groupby('zip_code_prefix').mean()
geolocalisation_data.isnull().values.any()

False

In [14]:
main_table = pd.read_csv('./data/olist_public_dataset_v2.csv')

time_colummns = ['order_purchase_timestamp', 'order_aproved_at', 'order_estimated_delivery_date',\
                  'order_delivered_customer_date', 'review_answer_timestamp', 'review_creation_date']
main_table.loc[:,time_colummns] = pd.to_datetime(main_table.loc[:,time_colummns].stack()).unstack()
main_table.sort_values(by='order_purchase_timestamp')
main_table = main_table.groupby('order_id').last()

approval_time = (main_table.loc[:, 'order_aproved_at'] \
                 - main_table.loc[:, 'order_purchase_timestamp']).astype('timedelta64[s]')
main_table = main_table.assign(approval_time=approval_time)

delivery_delay = (main_table.loc[:, 'order_delivered_customer_date']\
                  - main_table.loc[:, 'order_estimated_delivery_date']).astype('timedelta64[s]')
main_table = main_table.assign(delivery_delay=delivery_delay)

review_time = (main_table.loc[:, 'review_answer_timestamp'] \
                 - main_table.loc[:, 'review_creation_date']).astype('timedelta64[s]')
main_table = main_table.assign(review_time=review_time)

main_table.dropna(axis=0, how='any', subset=['order_aproved_at'], inplace=True)

main_table.loc[:,'delivery_delay'] = main_table.loc[:,'delivery_delay'].fillna(0)

main_table = pd.merge(main_table, geolocalisation_data, left_on='customer_zip_code_prefix'\
                      , right_index=True, how='left', sort=False)
main_table.dropna(axis=0, how='any', subset=['lat'], inplace=True)

columns_to_remove = ['order_status', 'order_purchase_timestamp', 'order_aproved_at',\
                     'order_estimated_delivery_date', 'order_delivered_customer_date',\
                     'customer_id', 'product_name_lenght', 'review_id', 'review_creation_date',\
                    'review_answer_timestamp', 'product_id']

main_table.drop(labels=columns_to_remove, axis=1, inplace=True)
main_table.loc[:, 'review_comment_title'] = main_table.loc[:, 'review_comment_title'].str.len() >0
main_table.loc[:, 'review_comment_message'] = main_table.loc[:, 'review_comment_message'].str.len()
main_table.loc[:, 'review_comment_message'] = main_table.loc[:, 'review_comment_message'].fillna(0)

In [15]:
#customer_id_data = pd.read_csv('./data/olist_public_dataset_v2_customers.csv')

#payments_data = pd.read_csv('./data/olist_public_dataset_v2_payments.csv')

#labeled_table = pd.read_csv('./data/olist_classified_public_dataset.csv')

In [16]:
main_table.info()

<class 'pandas.core.frame.DataFrame'>
Index: 96188 entries, 0000f01da58c553799200eb71eb0563b to ffff4b4f540d2d98fae13222d4d3aec1
Data columns (total 18 columns):
order_products_value          96188 non-null float64
order_freight_value           96188 non-null float64
order_items_qty               96188 non-null int64
order_sellers_qty             96188 non-null int64
customer_city                 96188 non-null object
customer_state                96188 non-null object
customer_zip_code_prefix      96188 non-null int64
product_category_name         96188 non-null object
product_description_lenght    96188 non-null int64
product_photos_qty            96188 non-null int64
review_score                  96188 non-null int64
review_comment_title          96188 non-null bool
review_comment_message        96188 non-null float64
approval_time                 96188 non-null float64
delivery_delay                96188 non-null float64
review_time                   96188 non-null float64
lat                           96188 non-null float64
lng                           96188 non-null float64
dtypes: bool(1), float64(8), int64(6), object(3)
memory usage: 13.3+ MB

In [17]:
main_table.head()

,order_products_value,order_freight_value,order_items_qty,order_sellers_qty,customer_city,customer_state,customer_zip_code_prefix,product_category_name,product_description_lenght,product_photos_qty,review_score,review_comment_title,review_comment_message,approval_time,delivery_delay,review_time,lat,lng
order_id,,,,,,,,,,,,,,,,,,
0000f01da58c553799200eb71eb0563b,54.90,18.00,1,1,Sao Jose dos Campos,SP,122,moveis_sala,1146,3,3,False,190.0,124592.0,80927.0,127559.0,-23.207687,-45.867402
00010242fe8c5a6d1ba2dd792cb16214,58.90,13.29,1,1,Campos dos Goytacazes,RJ,280,cool_stuff,627,4,5,False,44.0,2793.0,-692172.0,136623.0,-21.761769,-41.318851
00026c8a4fe2c14efa2afe807921981c,389.98,87.30,2,1,Lagoa Grande,PE,563,ferramentas_jardim,417,4,5,True,3.0,81368.0,-1381390.0,54469.0,-9.269562,-40.449405
000312d02b605a8a630c3a9882793ffb,600.00,73.20,4,1,Piuma,ES,292,utilidades_domesticas,1632,10,5,False,0.0,836.0,-881253.0,265270.0,-20.684788,-40.628767
000330af600103828257923c9aa98ae2,17.49,17.34,1,4,Barra de Sao Joao,RJ,288,alimentos_bebidas,2263,6,4,False,0.0,646.0,-285466.0,442724.0,-22.557961,-42.123562

In [18]:
'''
result = pd.merge(main_table, geolocalisation_data, left_on='customer_zip_code_prefix', right_index=True, how='left', sort=False)
test = result.loc[result.loc[:,'lat'].isnull(), ['customer_zip_code_prefix']]
test.values.squeeze()
geolocalisation_data.index.isin(test.values.squeeze()).sum()
'''

"\nresult = pd.merge(main_table, geolocalisation_data, left_on='customer_zip_code_prefix', right_index=True, how='left', sort=False)\ntest = result.loc[result.loc[:,'lat'].isnull(), ['customer_zip_code_prefix']]\ntest.values.squeeze()\ngeolocalisation_data.index.isin(test.values.squeeze()).sum()\n"

In [26]:
reviews = main_table.groupby('review_score').size().values

In [30]:
reviews[:3].sum() / 96188

0.23455108745373643

In [31]:
reviews[3:].sum() / 96188

0.7654489125462636

In [29]:
reviews.sum()

96188