In [210]:
import pandas as pd
import numpy as np
import seaborn as sb
import matplotlib.pyplot as plt

In [211]:
main_table = pd.read_csv('./data/olist_public_dataset_v2.csv')
sellers_table = pd.read_csv('./data/sellers_olist_public_dataset_.csv')
products_table = pd.read_csv('./data/product_measures_olist_public_dataset_.csv')

In [212]:
sellers_table.head()

,order_id,product_id,seller_id,seller_zip_code_prefix,seller_city,seller_state
0,0faabac07131235fc5d9d711471cb4db,40b09f33e646d488df2ca6fec4082d50,3d871de0142ce09b7081e2b9d1733cb1,132,campo limpo paulista,SP
1,970f41d57d6e21afa7b8c701b09acb95,d1c427060a0f73f6b889a5c7c61f2ac4,a1043bafd471dff536d0c462352beb48,371,ilicinea,MG
2,b674ed44cc3f6a869249421debebe104,bd7cd34fc6d02e730221b11edc354aae,46dc3b2cc0980fb8ec44634e21d2718e,222,rio de janeiro,RJ
3,cbe9eae36605cf2bd005c6bc1ae5f864,0e95d6eef2bedaf4ecf3c33f78199059,dc4a0fc896dc34b0d5bfec8438291c80,149,ibitinga,SP
4,f562f8a4adf5a459176f7170d0da220d,9a3a44b7cc16f2592b2110e4205edf97,5a8e7d5003a1f221f9e1d6e411de7c23,130,campinas,SP

In [213]:
main_table.head()

,order_id,order_status,order_products_value,order_freight_value,order_items_qty,order_sellers_qty,order_purchase_timestamp,order_aproved_at,order_estimated_delivery_date,order_delivered_customer_date,...,product_name_lenght,product_description_lenght,product_photos_qty,product_id,review_id,review_score,review_comment_title,review_comment_message,review_creation_date,review_answer_timestamp
0,b95df3cef5297e79ef709ba256518f6f,delivered,349.90,13.84,1,1,2017-01-31 17:19:01.000000,2017-02-01 02:41:21.549551,2017-03-15 00:00:00.000000,2017-02-06 11:04:24.154259,...,51,625,1,6cdd53843498f92890544667809f1595,b95df3cef5297e79ef709ba256518f6f,5,NaN,NaN,2017-02-07 00:00:00.000000,2017-02-09 02:37:37+00:00
1,59af46052a799e80e2f0c665c587731d,delivered,15.00,15.10,1,1,2017-09-09 19:52:54.000000,2017-09-10 20:03:31.535281,2017-10-02 00:00:00.000000,2017-09-13 20:17:41.296915,...,44,1428,2,ae5cad88462eb7b7b61401e31c45618e,59af46052a799e80e2f0c665c587731d,5,NaN,entrega em 2 dias produto c boa qualidade otim...,2017-09-14 00:00:00.000000,2017-09-15 03:43:47+00:00
2,a3e6136894621db402a772c6bc72a12a,delivered,238.90,18.00,1,1,2017-01-30 17:00:09.000000,2017-01-30 17:31:25.438253,2017-03-07 00:00:00.000000,2017-02-06 15:43:04.758566,...,55,637,1,0c9ff9d8ed9b9bdd825487b3a66e05f5,a3e6136894621db402a772c6bc72a12a,5,NaN,produto veio antes do prazo informado muito ob...,2017-02-07 00:00:00.000000,2017-02-10 14:18:53+00:00
3,b675ea5a618922f6e679e30531b8957b,delivered,29.99,18.23,1,1,2018-03-11 18:18:36.000000,2018-03-11 18:30:37.931962,2018-04-03 00:00:00.000000,2018-04-03 20:36:43.778451,...,55,617,1,ad0a798e7941f3a5a2fb8139cb62ad78,b675ea5a618922f6e679e30531b8957b,4,NaN,NaN,2018-04-04 00:00:00.000000,2018-04-05 02:52:31+00:00
4,195a8be6794c487fe6cfbb97b7c61902,delivered,295.99,47.65,1,1,2017-04-20 08:01:08.000000,2017-04-25 08:05:40.405383,2017-05-24 00:00:00.000000,2017-05-04 18:47:45.721758,...,49,558,2,eaf2046d4c87809247a30050ea13df03,195a8be6794c487fe6cfbb97b7c61902,5,NaN,NaN,2017-05-05 00:00:00.000000,2017-05-08 15:20:18+00:00

In [214]:
geolocalisation_data = pd.read_csv('./data/geolocation_olist_public_dataset.csv')
geolocalisation_data = geolocalisation_data.loc[:, ['zip_code_prefix', 'lat', 'lng']].groupby('zip_code_prefix').mean()
geolocalisation_data.isnull().values.any()

False

In [215]:
main_table = pd.read_csv('./data/olist_public_dataset_v2.csv')

time_colummns = ['order_purchase_timestamp', 'order_aproved_at', 'order_estimated_delivery_date',\
                  'order_delivered_customer_date', 'review_answer_timestamp', 'review_creation_date']
main_table.loc[:,time_colummns] = pd.to_datetime(main_table.loc[:,time_colummns].stack()).unstack()
main_table.sort_values(by='order_purchase_timestamp')
main_table = main_table.groupby('order_id').last()

approval_time = (main_table.loc[:, 'order_aproved_at'] \
                 - main_table.loc[:, 'order_purchase_timestamp']).astype('timedelta64[s]')
main_table = main_table.assign(approval_time=approval_time)

delivery_delay = (main_table.loc[:, 'order_delivered_customer_date']\
                  - main_table.loc[:, 'order_estimated_delivery_date']).astype('timedelta64[s]')
main_table = main_table.assign(delivery_delay=delivery_delay)

review_time = (main_table.loc[:, 'review_answer_timestamp'] \
                 - main_table.loc[:, 'review_creation_date']).astype('timedelta64[s]')
main_table = main_table.assign(review_time=review_time)

main_table.dropna(axis=0, how='any', subset=['order_aproved_at'], inplace=True)

main_table.loc[:,'delivery_delay'] = main_table.loc[:,'delivery_delay'].fillna(0)

main_table = pd.merge(main_table, geolocalisation_data, left_on='customer_zip_code_prefix'\
                      , right_index=True, how='left', sort=False)
main_table.dropna(axis=0, how='any', subset=['lat'], inplace=True)

columns_to_remove = ['order_status', 'order_purchase_timestamp', 'order_aproved_at',\
                     'order_estimated_delivery_date', 'order_delivered_customer_date',\
                     'customer_id', 'product_name_lenght', 'review_id', 'review_creation_date',\
                    'review_answer_timestamp']

main_table.drop(labels=columns_to_remove, axis=1, inplace=True)
main_table.loc[:, 'review_comment_title'] = main_table.loc[:, 'review_comment_title'].str.len() >0
main_table.loc[:, 'review_comment_message'] = main_table.loc[:, 'review_comment_message'].str.len()
main_table.loc[:, 'review_comment_message'] = main_table.loc[:, 'review_comment_message'].fillna(0)

In [216]:
sellers_table = pd.merge(sellers_table, geolocalisation_data, left_on='seller_zip_code_prefix', right_index=True, how='left', sort=False)
sellers_table.dropna(axis=0, how='any', subset=['lat'], inplace=True)
sellers_table.rename(columns={'lat':'seller_lat', 'lng':'seller_lng'}, inplace=True)

In [217]:
sellers_table.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 98850 entries, 0 to 98980
Data columns (total 8 columns):
order_id                  98850 non-null object
product_id                98850 non-null object
seller_id                 98850 non-null object
seller_zip_code_prefix    98850 non-null int64
seller_city               98850 non-null object
seller_state              98850 non-null object
seller_lat                98850 non-null float64
seller_lng                98850 non-null float64
dtypes: float64(2), int64(1), object(5)
memory usage: 6.8+ MB

In [218]:
main_table.reset_index(level=0, inplace=True)
main_table.head()

,order_id,order_products_value,order_freight_value,order_items_qty,order_sellers_qty,customer_city,customer_state,customer_zip_code_prefix,product_category_name,product_description_lenght,product_photos_qty,product_id,review_score,review_comment_title,review_comment_message,approval_time,delivery_delay,review_time,lat,lng
0,0000f01da58c553799200eb71eb0563b,54.90,18.00,1,1,Sao Jose dos Campos,SP,122,moveis_sala,1146,3,d363e421b1d15376b299089946fed127,3,False,190.0,124592.0,80927.0,127559.0,-23.207687,-45.867402
1,00010242fe8c5a6d1ba2dd792cb16214,58.90,13.29,1,1,Campos dos Goytacazes,RJ,280,cool_stuff,627,4,4244733e06e7ecb4970a6e2683c13e61,5,False,44.0,2793.0,-692172.0,136623.0,-21.761769,-41.318851
2,00026c8a4fe2c14efa2afe807921981c,389.98,87.30,2,1,Lagoa Grande,PE,563,ferramentas_jardim,417,4,9bf49e13f79afe62919c79d125d81cf8,5,True,3.0,81368.0,-1381390.0,54469.0,-9.269562,-40.449405
3,000312d02b605a8a630c3a9882793ffb,600.00,73.20,4,1,Piuma,ES,292,utilidades_domesticas,1632,10,588ea3decc0d8e1d19ce6160c5b0da1b,5,False,0.0,836.0,-881253.0,265270.0,-20.684788,-40.628767
4,000330af600103828257923c9aa98ae2,17.49,17.34,1,4,Barra de Sao Joao,RJ,288,alimentos_bebidas,2263,6,0776155007ad20447a0b0f91d4aad644,4,False,0.0,646.0,-285466.0,442724.0,-22.557961,-42.123562

In [219]:
main_table = pd.merge(main_table, sellers_table.loc[:,['order_id', 'product_id', 'seller_lat', 'seller_lng']], how='inner', left_on=['order_id', 'product_id'], right_on=['order_id', 'product_id'], sort=False)
main_table = pd.merge(main_table, products_table, how='inner', on='product_id', sort=False)

In [220]:
main_table.isnull().values.sum()

0

In [221]:
columns_to_drop = ['order_id', 'product_id', 'product_category_name', 'product_id',\
                   'customer_city', 'customer_state', 'customer_zip_code_prefix',\
                  'order_sellers_qty']
main_table.drop(labels=columns_to_drop, axis=1, inplace=True)
main_table.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 96040 entries, 0 to 96039
Data columns (total 19 columns):
order_products_value          96040 non-null float64
order_freight_value           96040 non-null float64
order_items_qty               96040 non-null int64
product_description_lenght    96040 non-null int64
product_photos_qty            96040 non-null int64
review_score                  96040 non-null int64
review_comment_title          96040 non-null bool
review_comment_message        96040 non-null float64
approval_time                 96040 non-null float64
delivery_delay                96040 non-null float64
review_time                   96040 non-null float64
lat                           96040 non-null float64
lng                           96040 non-null float64
seller_lat                    96040 non-null float64
seller_lng                    96040 non-null float64
product_weight_g              96040 non-null float64
product_length_cm             96040 non-null float64
product_height_cm             96040 non-null float64
product_width_cm              96040 non-null float64
dtypes: bool(1), float64(14), int64(4)
memory usage: 14.0 MB

In [222]:
def to_buckets(array):
    new_array=np.zeros(array.shape[0], dtype=int)
    for i in range(array.shape[0]):
        x = array[i]
        if x <=1:
            new_array[i] = 0
        elif x <5:
            new_array[i] = 1
        else:
            new_array[i] = 2
    return new_array

product_photos_col = to_buckets(main_table.loc[:,'product_photos_qty'].values)
main_table = main_table.assign(product_photos_qty=product_photos_col)

In [223]:
main_table = pd.get_dummies(main_table, columns=['review_score', 'review_comment_title', 'product_photos_qty'], prefix=['review_score', 'comment_', 'product_photos_qty'])
main_table.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 96040 entries, 0 to 96039
Data columns (total 26 columns):
order_products_value          96040 non-null float64
order_freight_value           96040 non-null float64
order_items_qty               96040 non-null int64
product_description_lenght    96040 non-null int64
review_comment_message        96040 non-null float64
approval_time                 96040 non-null float64
delivery_delay                96040 non-null float64
review_time                   96040 non-null float64
lat                           96040 non-null float64
lng                           96040 non-null float64
seller_lat                    96040 non-null float64
seller_lng                    96040 non-null float64
product_weight_g              96040 non-null float64
product_length_cm             96040 non-null float64
product_height_cm             96040 non-null float64
product_width_cm              96040 non-null float64
review_score_1                96040 non-null uint8
review_score_2                96040 non-null uint8
review_score_3                96040 non-null uint8
review_score_4                96040 non-null uint8
review_score_5                96040 non-null uint8
comment__False                96040 non-null uint8
comment__True                 96040 non-null uint8
product_photos_qty_0          96040 non-null uint8
product_photos_qty_1          96040 non-null uint8
product_photos_qty_2          96040 non-null uint8
dtypes: float64(14), int64(2), uint8(10)
memory usage: 13.4 MB

In [224]:
main_table.to_csv('./CleanedData/dataset.csv')